  marquee {
    background: #ffcc00;
    color: #990000;
    font-weight: bold;
    font-size: 20px;
    padding: 6px;
    border-top: 3px dashed #990000;
    border-bottom: 3px dashed #990000;
  }
  .topbar {
    background: linear-gradient(#ffffff, #ccccff);
    text-align: center;
    padding: 4px;
    font-size: 11px;
    color: #333366;
    border-bottom: 4px ridge #6666cc;
  }
  
  
  .boton {
    background: linear-gradient(#ffff99, #ffcc00);
    border: 2px outset #996600;
    padding: 8px 16px;
    font-weight: bold;
    color: #663300;
    font-size: 14px;
    font-family: "Comic Sans MS", "Arial Black", sans-serif;
    cursor: pointer;
  }

  .boton:hover {
    background: linear-gradient(#ffffcc, #ffdd33);
  }

  .boton:active {
    border-style: inset;
  }
